name: CICD
# 触发条件为 push
on:
  push:
    branches:
      - master
    # 修改文件范围, 不在范围内不触发
    paths:
      - '.github/workflows/**'
      - '__test__/**'
      - 'src/**'
# 任务
jobs:
  test:
    # 运行的环境
    runs-on: ubuntu-latest
    # 步骤
    steps:
      - uses: actions/checkout@v3 # git pull
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: 打包镜像, 上传 Docker Hub
        run: |
          docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }}
          docker build --platform linux/amd64 -t matematch-frontend:1.0 .
          docker tag matematch-frontend:1.0 ${{ secrets.DOCKER_REPOSITORY }}
          docker push ${{ secrets.DOCKER_REPOSITORY }}
      - name: 登录服务器, 执行脚本
        uses: jarvischan666/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: jarvis
          password: ${{ secrets.REMOTE_PASSWORD }}
          # 执行脚本
          script: |
            ./deploy.sh
